@{
    ViewBag.Title = "用户登录";
    Layout = "";
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="zh-CN" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head runat="server">
    <title>丽水市花园云智慧监管平台</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="~/Resources/Components/layui/css/login.css" rel="stylesheet" />
    <script>
        if (window != top)
            top.location.href = location.href;
    </script>
</head>
<body onload="bodyLoaded()">
    <form id="form1" action="@Url.Action("Login")" method="post">
        <div class="wrap">
            <input id="txtE" type="hidden" runat="server" />
            <input id="txtM" type="hidden" runat="server" />
            <img src="~/Resources/Components/layui/images/login_bg.jpg" width="100%" height="100%" class="abs" style="z-index: -1;" />
            <img src="~/Resources/Components/layui/images/login_shadow.png" width="100%" height="100%" class="abs" style="z-index: -1;" />
            <div class="login-logo" style="padding-left:70px">丽水市花园云智慧监管平台</div>

            <div class="login-box">
                <div class="login-inner auto">
                    <!--<div class="login-font"></div>-->
                    <div class="log-box">
                        <h1>登录系统<!--<i></i>--></h1>
                        <input type="hidden" name="Password" id="Password" />
                        <ul>
                            <li> <label id="message" style="color:#a8071a; font-size:14px;"></label></li>
                            <li class="in-bg1"><input type="text" id="UserName" placeholder="请输入用户名" class="login-text input-txt-user" /></li>

                            <li class="in-bg2"><input placeholder="请输入密码" type="password" id="txtPassword" class="login-text input-txt-pw" /></li>
                            <li>
                                <p class="fl">
                                    <span class="checkboxLog"><span class="checkbox-icon"></span><input type="checkbox" id="RememberMe" style="display:none;" /><span>记住我</span></span>
                                </p>

                            </li>
                            <li><input type="button" class="btn" onclick="validate()" /></li>
                        </ul>
                        <i class="log-br"></i>
                    </div>
                </div>
            </div>
            <div class="login-fot"><p>技术支持：深圳市博安达信息技术股份有限公司</p></div>
        </div>

    </form>

    <script src="~/Resources/Components/layui/script/jquery-1.11.1.min.js"></script>
    <script src="~/Resources/Components/jquery/jquery.cookie.js"></script>
    <script src="~/Resources/Components/rsa/BigInt.js"></script>
    <script src="~/Resources/Components/rsa/Barrett.js"></script>
    <script src="~/Resources/Components/rsa/RSA.js"></script>
    <script src="~/Resources/Components/rsa/CodeManage.js"></script>

    <script type="text/javascript">
        var LOGIN_KEY = 'GXGF_WW_LOGIN';
        var logInfo = $.cookie(LOGIN_KEY);
        if (logInfo) {
            try {
                logInfo = JSON.parse(logInfo);
                $("#UserName").val(logInfo.UserName);
                myCheckbox($('.checkboxLog'))
            } catch (e) {
            }
        }
        var key = "";
        var e = '@ViewBag.RsaE';
        var m = '@ViewBag.RsaM';
        function validate() {
            var result = true;
            if ($("#VerifyCode").length > 0) {
                if ($("#VerifyCode").val().length != 4) {
                    $("#message").html("验证码必须4位!");
                    result = false;
                }
            }
            if ($("#txtPassword").val() == "") {
                $("#message").html("请输入用户密码！");

                result = false;
            }
            if ($("#UserName").val() == "") {
                $("#message").html("请输入用户名！");
                result = false;
            }

            if ($("#txtPassword").val() != "") {
                if (e != "" && m != "") {
                    setMaxDigits(131);
                    var key = new RSAKeyPair(e, "", m);
                    var code = strUnicode2Ansi($("#txtPassword").val());
                    var pwd_rsa = encryptedString(key, base64encode(code));
                    $("#Password").val(pwd_rsa);

                } else {
                    $("#message").html("页面过期!请刷新页面后再登陆.");
                    result = false;
                }
            }
            if (result) {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("LoginAjax")',
                    data: { UserName: $("#UserName").val(), Password: $("#Password").val(), VerifyCode: $("#VerifyCode").val(), RememberMe: $("#RememberMe").is(":checked") },
                    success: function (text) {
                        if (text.result) {
                            if ($("#RememberMe").prop('checked')) {
                                $.cookie(LOGIN_KEY, JSON.stringify({ UserName: $("#UserName").val() }), { expires: 3 });
                            } else {
                                $.cookie(LOGIN_KEY, null);
                            }
                             location.href = '@(Url.Content("~/"))';
                        } else {
                            e = text.e;
                            m = text.m;
                            $("#message").html(text.msg);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#message").html("保存失败！" + jqXHR.responseJSON.message);
                    }
                });
            }

            return false;
        }
        $("input[type!=button]").on("keydown", function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) { // enter 键
                validate();
            }
        });

        if ($("#UserName").val() == "") {
            $('.username-field .ph-label').html("请输入账号");
        }

        if ($("#txtPassword").val() == "") {
            $('.password-field .ph-label').html("请输入密码");
        }

        if ($("#VerifyCode").length > 0) {
            if ($("#VerifyCode").val() == "") {
                $('.yzm-field .ph-label').html("请输入验证码");
            }
        }

        function bodyLoaded() {
            setTimeout(function () {
                $('#UserName').focus();
            }, 600)
        }

        // 复选框
        $('.checkboxLog').click(function () {
            myCheckbox($(this));
        });

        function myCheckbox(obj) {
            var checkicon = $(obj).find('.checkbox-icon');
            var checkbox = $(obj).find('input[type="checkbox"]');
            if (checkbox.prop('checked')) {
                checkicon.removeClass("on");
                checkbox.prop('checked', false);
            }
            else {
                checkicon.addClass("on");
                checkbox.prop('checked', true);
            }
        };

        /**
         * 设置垂直居中
         */
        window.onload = window.onresize = function () { fVericalAlignBody() };
        function fVericalAlignBody() {
            var nBodyHeight = 575;
            var nClientHeight = $(window).height();
            if (nClientHeight >= nBodyHeight + 1) {
                var nDis = (nClientHeight - nBodyHeight) / 2;
                $('.login-box').css('padding-top', nDis);
            } else {
                $('.login-box').css('padding-top', 0);
            }
        };


    </script>
</body>
</html>
