@model Boanda.Jkyjpt.Web.Models.Tool.DepartmentWithUser

@section style
{
    <style type="text/css">
        .mini-splitter-pane {
            overflow: auto;
        }

        #zzjg-con {
            padding: 5px 15px;
        }

            #zzjg-con p, .result-con {
                height: 25px;
            }

        #user-con p {
            font-weight: bold;
            margin-top: 9px;
        }

        .mini-checkbox {
            display: inline-block;
        }

        #result-con p span {
            font-weight: bold;
            float: right;
            margin-right: 10px;
            cursor: pointer;
            display: inline-block;
            width: 40px;
            text-align: center;
        }

        #result-con {
            margin: 10px auto;
            padding-left: 15px;
            padding-bottom: 30px;
        }

            #result-con p span:hover {
                background: #ddd;
            }

        .bottom-toolbar {
            width: 100%;
            position: absolute;
            height: 30px;
            bottom: 1px;
            margin: 0 auto;
            text-align: center;
        }
    </style>
}
<div id="layout1" class="mini-layout" style="width:100%;height:100%;" borderstyle="border:solid 1px #ddd;">
    <div title="部门列表" region="west" size="20%">
        <div class="zzjg-con" id="zzjg-con">
            @foreach (var item in Model.ZzjgList)
            {
                if (!string.IsNullOrWhiteSpace(item.ZZBH) && item.ZZBH!= "ROOT")
                {
                    <p><a data-tg="@item.ZZBH" href="javascript:void(0)">@item.ZZQC</a></p>
                }
            }
        </div>
    </div>
    <div title="已选中" region="east" size="20%" style="position:relative; ">
        <div class="result-con mini-fit" style="margin-bottom:35px;">
            <div id="result-con"></div>
        </div>
        <div class="bottom-toolbar"><button class="com-btn col-11" onclick="onSubmit()">确定</button></div>
    </div>
    <div title="人员列表" region="center" size="60%" style="padding-left:15px;">
        <div class="user-con" id="user-con">
            @foreach (var item in Model.UserList.GroupBy(x => x.BMBH))
            { 
                if (!string.IsNullOrWhiteSpace(item.Key))
                {
                    string name = "";
                    if (Model.ZzjgBhNameMap.ContainsKey(item.Key))
                    {
                        name = Model.ZzjgBhNameMap[item.Key];
                    }
                    <p id="@item.Key" name="@item.Key">@name</p>

                    {
                        var list = item.ToList();
                        for (var i = 0; i < list.Count; i++)
                        {
                            var user = list[i];
                            if (i % 4 == 0)
                            {
                                <p/>
                            }
                            <div id="@user.YHID" style="width:80px;" name="@user.YHID" checkedchanged="alert(1)" class="mini-checkbox" readonly="false" text="@user.YHMC" onvaluechanged="onValueChanged"></div>
                        }
                    } 
                }
            }
        </div>
    </div>
</div>

@section script
{
    <script type="text/javascript">
        mini.parse();
        var selectedObj = {};
        var defaultData = [];

        /*设置页面第一次加载时，已经选中的数据*/
        function setDefaultData(data) {
            if (!(data == null || data.length == 0)) {
                for (var i = 0; i < data.length; i++) {
                    var ckb = mini.get(data[i].userId);
                    ckb.setValue(true);
                    onValueChanged({ value: 'true', source: ckb });
                }
            }
        }

        var $result = $('#result-con');

        // 给部门添加点击事件，使用户列表那滚动
        $('#zzjg-con p>a').click(function () {
            var $this = $(this);
            var tg = $this.data('tg');
            var $tg = $('#' + tg);
            if ($tg.length) {
                $('#center .mini-layout-region-body').animate({ scrollTop: $tg.offset().top + 'px' }, 400);
            }
        })

        // 当勾选用户时
        function onValueChanged(e) {
            if (e.value == 'true') {
                $result.append('<p id="lbl' + e.source.id + '">' + e.source.text + '<span title="删除" onclick="delItem(\'' + e.source.id + '\')">X</span></p> ');
                selectedObj[e.source.id] = { id: e.source.id, text: e.source.text };
            } else if (e.value == 'false') {
                delete selectedObj[e.source.id];
                $('#lbl' + e.source.id).remove();
            }
        }

        function GetData() {
            var arr = [];
            Object.keys(selectedObj).forEach(function(ele){
                arr.push(selectedObj[ele]);
            })
            return arr;
        }

        // 删除所选
        function delItem(id) {
            if (id && selectedObj.hasOwnProperty(id)) {
                delete selectedObj[id];
                $('#lbl' + id).remove();
                mini.get(id).setChecked(false);
            }
        }

        $('#btnClearAll').click(function () {
            for (var p in selectedObj) {
                if (selectedObj.hasOwnProperty(p)) {
                    delete selectedObj[p];
                    $('#lbl' + p).remove();
                }
            }
        });

        // 确定
        function onSubmit() {
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow("ok");
            else window.close();
        }

    </script>
}

