@model  IEnumerable<Boanda.Jkyjpt.Data.Entity.TComnFjxx.T_COMN_FJML>
@{
    string glbh = Request["GLBH"];
    System.Text.StringBuilder mlIds = new System.Text.StringBuilder(150);
    string GLBH = Request["GLBH"] ?? "test";
}
@section style{
    <link type="text/css" rel="stylesheet" href="~/Areas/Demos/Resources/libs/uploadify/uploadify.css" />

    <style type="text/css">
        .uploadify{
            position:absolute;
            top:0;
            right:0;
        }

        .uploadify-button{
            margin:0;
            width: 100px !important;
            float:right;
            height: 30px;
            color: #fff;
            font-size: 14px;
            background-color: #228ee1;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

        .up-parent{
            position:relative;
        }
    </style>
}

	<!-- PopBox · 附件管理 -->
<div class="dg-popBox">
    <div class="hd">
        <h2>附件管理</h2>
        <span class="close_outer">
            <i class="icon close"></i>
        </span>
    </div>
    <div class="bd">
@foreach (var item in Model)
    {
        <div class="dg-popToolsbar">
            <h5>@item.MLMC</h5>
        </div>
        <div style="padding: 0 10px;">
            <!-- 上传附件 -->
            <ul class="directive-list">
                <li>
                    <h4 class="directive-tit active up-parent">
                        <p class="warning">附件列表</p>
                        <span>2个附件</span>
                        <i></i>
                        <input type="file" id="uploadify-@item.MLID" class="uploadify" style="position:relative;right:0;top:0"/>
                        <input type="hidden" class="data" data-flx="@item.FMLID" data-zlx="@item.MLID" data-id="uploadify-@item.MLID" />
                    </h4>
                    <ul class="subDir-list">
                        <li>
                            <table class="table-3" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td><a href="#" class="doc">文件名称1.doc</a></td>
                                        <td>68.8k</td>
                                        <td>2016-11-17</td>
                                        <td><i class="icon icon-download"></i><i class="icon icon-trash"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
}
    </div>
</div>


@section script
{
    <script src="~/Resources/Components/handlebar/handlebars-v4.0.5.js"></script>
    <script src="~/Areas/Demos/Resources/libs/uploadify/jquery.uploadify.js"></script>

    <script>
        $('input.data').each(function (idx, ele) {
            var data = $(ele).data();
            updateFjList(data.flx, data.zlx);
        });

        $(".uploadify").uploadify({
            'buttonText': '上传',
            'uploader': '@Url.Action("FjglUpload")',
            'swf': '/Resources/Components/uploadify/uploadify.swf',
            'auto': true,
            'multi': true,
            'simUploadLimit': 20,
            'onUploadComplete': function () {
            },
            'onUploadSuccess': function (file, data, response, obj) {
                $('#' + file.id).find('.data').html(' 上传完毕');
                if (data) {
                    try {
                        var json = JSON.parse(data);
                        if (json.isSuccess) {
                            $$.notify.success("上传成功!");
                            var obj = json.data;
                            updateFjList(obj.FLX, obj.ZLX);
                        }
                    } catch (ex) {
                    }
                }
            },
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                $$.notify.error("上传失败，请稍后再试!");
            },
            'onUploadStart': function (file, a) {
                var data = $(this.button).parents('td').find('input.data').data(); // 获取父类型
                $("#" + data.id).uploadify("settings", 'formData',
                    {
                        'GLBH': '@GLBH',
                        'FLX': data.flx,
                        'ZLX': data.zlx,
                        'AUTHID': '@(Request.Cookies[FormsAuthentication.FormsCookieName]==null?"":Request.Cookies[FormsAuthentication.FormsCookieName].Value)', 'ASPSESSID': '@Session.SessionID'
                    });
            }
        });

        function updateFjList(flx, zlx) {
            $.get('@Url.Action("GetFjList")', { GLBH: '@GLBH', FLX: flx, ZLX: zlx }, function (d) {
                var list = d.data || [];
                var con = $('#fj-list-' + flx + '-' + zlx).html('');
                list.forEach(function (ele) {
                    con.append(ele.FJMC);
                });
            });
        }
    </script>
}