@{
}

<div class="pd010" ng-controller="indexCtrl as vm">
    <div class="layui-row" lay-filter="form1">
        <div class="layui-form data-sethead">
            <div class="layui-inline">
                <input type="text" style="width:200px" placeholder="请输入代码\代码内容" class="layui-input" ng-model="vm.filter.Filter">
            </div>
            <button class="layui-btn layui-btn-sm layui-btn-green " ng-click="vm.searchTable()">搜索</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" ng-click="vm.add()">新增</button>
        </div>
        <table id="grid" lay-filter="grid"></table>
    </div>
</div>

@section script{
    <script>
        angular.module("app.rms")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", "pdTableSvr", function ($scope, pdActionSvr, pdResourceSvr,pdTableSvr) {
                var url = '@Url.Action("GetPage")';
                var deleteUrl = '@Url.Action("Delete")';
                var winUrl = '@Url.Action("AddOrEdit")';
                var table = {};
                var vm = this;
                vm.filter = { sortfield: 'DM', DMJBH:'@Request["DMJBH"]', Filter: '' };
                vm.init = function () {
                    table = layui.table.render({
                        elem: '#grid',
                        height: 'full-60',
                        url: url,
                        method: "post",
                        where: vm.filter,
                        page: true,
                        cols: [[
                            { type: 'numbers', title: '序号', width: '5%' },
                            { field: 'DM', title: '代码', width: '15%', style: $$.styles.al },
                            { field: 'DMNR', title: '代码内容', width: '20%', style: $$.styles.al },
                            { field: 'FDM', title: '父代码' , width:'15%'},
                            {
                                field: 'Enable', title: '状态', width: "15%", templet: function (record) {
                                    if (record.SFYX == 1) {
                                        return '有效';
                                    } else {
                                        return '无效';
                                    }
                                }
                            },
                            { title: '操作', fixed: 'right',  toolbar: '#eventBar' }
                        ]],
                        response: {
                            statusName: 'isSuccess' //数据状态的字段名称，默认：code
                            , statusCode: null      //成功的状态码，默认：0
                            , msgName: 'message'    //状态信息的字段名称，默认：msg
                            , countName: 'Total'    //数据总数的字段名称，默认：count
                            , dataName: 'Items'     //数据列表的字段名称，默认：data
                        }
                    });

                    layui.table.on('tool(grid)', function (obj) {
                        var xh = obj.data.DM;
                        if (obj.event === 'edit') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '修改代码值信息',
                                content: winUrl + '/'  + xh + '?DMJBH=@Request["DMJBH"]',
                                end: function () {
                                    reload();
                                }
                            });

                        } else if (obj.event === 'del') {
                            top.layer.confirm('确定删除么', function (index) {
                                pdResourceSvr.post(deleteUrl, { DMJBH: '@Request["DMJBH"]', DM: xh })
                                    .then(function (rsp) {
                                        if (rsp.Result) {
                                            obj.del();
                                            pdActionSvr.success('删除成功');
                                        } else {
                                            pdActionSvr.error('删除失败');
                                        }
                                    })
                                    .finally(function () {
                                        top.layer.close(index);
                                    })
                            });
                        }
                    });
                }

                vm.searchTable = function () {
                    table.reload({
                        where: vm.filter,
                        page: true
                    });
                }

                vm.add = function () {
                    vm.entity = { XH: '' };
                    top.layer.open({
                        type: 2,
                        area: $$.configs.winArea,
                        title: '新增代码值信息',
                        content: winUrl + '?DMJBH=@Request["DMJBH"]',
                        end: function () {
                            reload();
                        }
                    });
                }

                reload = function () {
                    table.reload()
                }

                vm.init();
            }]);
    </script>
    <script type="text/html" id="eventBar">
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
}