@{
    var id = ViewContext.RouteData.Values["id"];
    int editFlag = ViewBag.editFlag;
}

<div class="pd010 layui-form" ng-controller="indexCtrl as vm" ng-cloak>
    <div class="grid-infor">

        <table @(editFlag == 0 ? "form-readonly" : "")>
            <tr>
                <td>
                    <span class="red">*</span>权限值
                </td>
                <td>
                    <input type="text" ng-readonly="vm.isEdit" name="QXXZ" ng-model="vm.entity.QXXZ" lay-verType="tips" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>权限名称
                </td>
                <td>
                    <input type="text" name="QXXMC" ng-model="vm.entity.QXXMC" lay-verType="tips" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <font color="red">*</font>排序号
                </td>
                <td>
                    <input type="text" name="PXH" ng-model="vm.entity.PXH" lay-verType="tips" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="6">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>是否有效
                </td>
                <td>
                    <radio-list id="SFYX" lay-verify="radio" lay-verType="tips" url="@(Url.Action("GetGgdmz","Tool",new { area="", DMJBH = "SFYX" }))" textField="text" valueField="id" ng-model="vm.entity.SFYX"></radio-list>
                </td>
            </tr>

        </table>
    </div>
    @if (editFlag == 1)
    {
        <div class="foot-btnp">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-filter="form1" lay-submit>保存</button>
            <button class="layui-btn   layui-btn-sm layui-btn-primary" onclick="parent.layer.closeAll()">取消</button>
        </div>
    }
</div>

@section script{
    <script>
        var id = '@id';

        angular.module("app.rms")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", function ($scope, pdActionSvr, pdResourceSvr) {
                var addOrEditUrl = '@Url.Action("SavePermissionItem")';

                var vm = this;
                vm.entity = { };
                vm.filter = { sortfield: 'xh', KEY: '' };

                vm.save = function () {
                    pdResourceSvr.post(addOrEditUrl, vm.entity)
                        .then(function (rsp) {
                            if (rsp.Result) {
                                pdActionSvr.success('保存成功', '提示');
                                vm.isEdit = true;
                            } else {
                                pdActionSvr.error(rsp.message || '保存失败');
                            }
                        });
                }

                vm.init = function () {
                    if (id) {
                        vm.isEdit = true;
                        pdResourceSvr.get('@Url.Action("GetPermissionItemById")?id=' + id)
                            .then(function (rsp) {
                                vm.entity = rsp || {};
                            });
                    } else {
                        vm.entity.SSXT = '@Request["SSXT"]';
                    }
                }

                vm.init();

                //监听提交
                layui.form.on('submit(form1)', function (data) {
                    vm.save();
                });
            }]);
    </script>
}