@{
    ViewBag.Title = "授权列表";
}
<link href="~/Resources/Components/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="~/Resources/Components/ztree/js/jquery.ztree.all-3.5.min.js"></script>
<div class="mini-splitter" style="width:100%;height:100%;">
    <div size="250" showCollapseButton="true">
        <div class="mini-toolbar gridToolbar-button" style="padding:2px;border-top:0;border-left:0;border-right:0;">
            <span style="padding-left:5px;">名称：</span>
            <input id="roleName" class="mini-textbox" width="120" />
            <a class="mini-button" iconCls="icon-search" plain="true" onclick="searchRoles();">查找</a>
        </div>
        <div class="mini-fit">
            <ul id="tree1" class="mini-tree" url='@Url.Action("GetRoleTree","Role")' style="width:100%;"
                showTreeIcon="true" textField="name" idField="id" expandOnLoad="true" expandOnNodeClick="false"></ul>
        </div>
    </div>
    <div showCollapseButton="true">
        <div class="mini-toolbar" style="padding:2px;border-bottom:0;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <input id="bmlist" class="mini-treeselect" url='@(Url.Action("GetSystemDropDownList","System"))' multiSelect="false" required="true"
                               textField="name" valueField="id" checkRecursive="true"
                               showFolderCheckBox="true" expandOnLoad="true" showClose="true" oncloseclick="onCloseClick"
                               popupWidth="100%" valueFromSelect="true" style="width:100%" />
                    </td>
                    <td style="white-space:nowrap;">
                        <a class="mini-button" iconCls="icon-search" plain="true" onclick="saveData()">保存</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mini-fit">
            @*<ul id="tree2" class="mini-tree" url='@Url.Action("GetMenusTree","Menu")' style="width:100%;" multiSelect="true" showFolderCheckBox="true"
                showTreeIcon="true" textField="text" idField="id" expandOnLoad="true" expandOnNodeClick="false"></ul>*@
            <ul id="leftTree" class="ztree"></ul>
        </div>
    </div>
</div>
@section script{
<script type="text/javascript">
    mini.parse();

    var tree = mini.get("tree1");
    var tree2 = mini.get("tree2");
    var bmlist = mini.get("bmlist");
    bmlist.setValue('@ViewBag.SystemId');
    function searchRoles() {
        var name = mini.get("roleName").getValue();
        if (name == "") {
            tree.clearFilter();
        } else {
            name = name.toLowerCase();
            tree.filter(function (node) {
                var text = node.name ? node.name.toLowerCase() : "";
                if (text.indexOf(name) != -1) {
                    return true;
                }
            });
        }
    }

    function onCloseClick(e) {
        var obj = e.sender;
        obj.setText("");
        obj.setValue("");
    }

    function onActionRenderer(e) {
        var grid = e.sender;
        var record = e.record;
        var uid = record._uid;
        var rowIndex = e.rowIndex;

        var s = '<a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')">编辑</a>';
        if (!(record.YHID == "SYSTEM" || record.YHID == "system")) {
            s += '<a class="Delete_Button" href="javascript:delRow(\'' + uid + '\')">删除</a>';
        }

        return s;
    }

    var setting = {
        view: {
            selectedMulti: false
        },
        check: {
            chkboxType:  { "Y" : "ps", "N" : "ps" },
            chkStyle: "checkbox",
            enable: true
        },
        async: {
            enable: true,
            url: '',
            autoParam: ["id", "text"]
        },
        data: {
            key: {
                checked: "isChecked"
            },
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: 0
            }
        }
    }

    tree.on("nodeselect", function (e) {
        initMenuTree();
    });

    bmlist.on("valuechanged", function (e) {
        var systemId = bmlist.getValue();
        if (systemId == null || systemId == "") {
            $.fn.zTree.destroy("leftTree");
            return;
        }else{
            initMenuTree();
        }
    });

    function initMenuTree() {
        $.fn.zTree.destroy("leftTree");
        var systemId = bmlist.getValue();
        setting.async.url = '@Url.Action("GetMenusDropDownList", "Menu")/?ssxt=' + systemId;
        var treeObj = $.fn.zTree.init($("#leftTree"), setting, null); 
        var jsxh = tree.getValue();

        $.ajax({
            url: '@Url.Action("GetMenuByRoleId")/' + jsxh,
            type: "post",
            success: function (text) {
                //选中指定节点
                $.each(text, function (i, e) {
                    var node = treeObj.getNodeByParam("id", e.CDXH);
                    if (node != null) {
                        node.isChecked = true;
                        treeObj.updateNode(node);
                    }
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $.boanda.show("加载失败！" + jqXHR.responseText);
            }
        });

    }


    function saveData() {
        var treeObj = $.fn.zTree.getZTreeObj("leftTree");
        var nodes = treeObj.getCheckedNodes(true);
        if (nodes == null || nodes.length == 0) {
            $.boanda.error("请选择菜单！", 'error');
            return false;
        }
        var systemName = mini.get("bmlist").getValue();
        if (systemName == "" || systemName == null) {
            $.boanda.error("请选择系统！", 'error');
            return false;
        }

        var jsxh = tree.getValue();
        var menus = new Array();;
        $.each(nodes, function (i, e) {
            menus.push(e.id);
        });
        console.log(nodes);
        $.ajax({
            url: '@Url.Action("SavePermission")/?ssxt=' + systemName + "&jsxh=" + jsxh,
            data: { menus: menus },
            type: "post",
            success: function (text) {
                if (text.Result == "1") {
                    $.boanda.show("保存成功！");
                } else {
                    $.boanda.show("保存失败！");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $.boanda.show("保存失败！" + jqXHR.responseText);
            }
        });
    }
</script>
}
