@{
}
<div class="layui-form pd010" ng-controller="indexCtrl as vm">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md3"   style="padding-top:15px;">
            <ul id="tree" class="ztree"></ul>
        </div>
        <div class="layui-col-md9">
            <div class="layui-row" lay-filter="form1">
                <div class="layui-form data-sethead">
                    <div class="layui-inline">
                        <input type="text" style="width:200px" placeholder="请输入权限名称" class="layui-input" ng-model="vm.search.Name">
                    </div>
                    <button class="layui-btn layui-btn-sm  layui-btn-green " ng-click="vm.searchTable()">搜索</button>
                    <button class="layui-btn layui-btn-sm  layui-btn-normal" ng-click="vm.add()">新增</button>
                </div>
                <table id="grid" lay-filter="grid"></table>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        var url = "@Url.Action("GetPermissionItems")";
        var treeUrl = "@(Url.Action("GetSystemDropDownList", "System"))";

        angular.module("app.rms")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", "$rootScope", "pdTableSvr", function ($scope, pdActionSvr, pdResourceSvr, $rootScope,pdTableSvr) {
                var vm = this;
                vm.eventClick = function () {

                }

                vm.search = {
                    Name: "",
                    SystemId: null
                };

                vm.treeSearch = null, table = {};
                var allTreeNode = [];

                vm.searchUser = function () {
                    table = pdTableSvr.render({
                        elem: '#grid',
                        url: url,
                        where: vm.search,
                        cols: [[
                            { type: 'numbers', title: '序号', width: "5%" },
                            { field: 'QXXZ', title: '权限值', width: "15%" },
                            { field: 'QXXMC', title: '权限名称' },
                            { field: 'PXH', title: '排序号', width: "15%" },
                            {
                                field: 'SFYX', title: '状态', width: "15%",templet: function (record) {
                                    if (record.SFYX == 1) {
                                        return '有效';
                                    } else {
                                        return '无效';
                                    }
                                }
                            },
                            { title: '操作', fixed: 'right', width: "25%", align: 'center', toolbar: '#barDemo' }
                        ]]
                    });

                    layui.table.on('tool(grid)', function (obj) {
                        var xh = obj.data.XH;
                        if (obj.event === 'detail') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '查看权限项信息',
                                content: '@Url.Action("DetailPermissionItem")' + '/' + xh
                            });
                        } else if (obj.event === 'edit') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '修改权限项信息',
                                content: '@Url.Action("AddOrEditPermissionItem")' + '/' + xh,
                                end: function () {
                                    reload();
                                }
                            });

                        }
                        else if (obj.event === 'del') {
                            top.layer.confirm('确定删除么', function (index) {
                                pdResourceSvr.get('@Url.Action("DelPermissioinItem")/' + xh)
                                    .then(function (rsp) {
                                        if (rsp.Result) {
                                            obj.del();
                                            pdActionSvr.success('删除成功');
                                        } else {
                                            pdActionSvr.error('删除失败');
                                        }
                                    })
                                    .finally(function () {
                                        top.layer.close(index);
                                    })
                            });
                        }
                    });
                }

                vm.add = function () {
                    vm.entity = { XH: '' };
                    top.layer.open({
                        type: 2,
                        area: $$.configs.winArea,
                        title: '新增权限项',
                        content: '@Url.Action("AddOrEditPermissionItem")?SSXT=' + vm.search.SystemId,
                        end: function () {
                            reload();
                        }
                    });
                }

                vm.initTree = function (data) {
                    isFirst = true;
                    var setting = {
                        async: {
                            enable: true,
                            url: treeUrl
                        },
                        callback: {
                            onClick: function (event, treeId, treeNode) {
                                vm.search.SystemId = treeNode.id;
                                vm.searchUser();
                            },
                            onAsyncSuccess: function (event, treeId, treeNode, msg) {
                                if (isFirst) {
                                    var node = treeObj.getNodes();
                                    if (node && node.length) {
                                        node = node[0];
                                        treeObj.selectNode(node);
                                        treeObj.setting.callback.onClick(null, null, node);
                                        isFirst = false;
                                    }
                                }
                            }
                        },
                        data: {
                            simpleData: {
                                enable: true,
                                idKey: "id",
                                pIdKey: "pId",
                                rootPId: null
                            }
                        }
                    };
                    treeObj = $.fn.zTree.init($("#tree"), setting);
                }

                vm.searchTable = function () {
                    table.reload({
                        where: vm.search,
                        page: true
                    });
                }

                vm.init = function () {
                    vm.initTree();
                }

                reload = function () {
                    table.reload()
                }

                vm.init();
            }]);
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
}
