@{
}

<div class="pd010" ng-controller="indexCtrl as vm">
    <div class="layui-row" lay-filter="form1">
        <div class="layui-form data-sethead">
            <div class="layui-inline">
                <input type="text" style="width:200px" placeholder="请输入系统名称" class="layui-input" ng-model="vm.filter.Name">
            </div>
            <button class="layui-btn layui-btn-sm  layui-btn-green " ng-click="vm.searchTable()">搜索</button>
            <button class="layui-btn layui-btn-sm  layui-btn-normal" ng-click="vm.add()">新增</button>
        </div>
        <table id="grid" lay-filter="grid"></table>
    </div>
</div>

@section script{
    <script>
        angular.module("app.rms")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", "pdTableSvr", function ($scope, pdActionSvr, pdResourceSvr, pdTableSvr) {

                var url = '@Url.Action("GetSystems")';
                var addOrEditUrl = '@Url.Action("AddOrEditPost")';
                var deleteUrl = '@Url.Action("DelSystem")';
                var winUrl = '@Url.Action("AddOrEdit")';
                var table = {};
                var vm = this;
                vm.entity = {};
                vm.filter = { sortfield: 'PXH', Name: '' };

                vm.init = function () {
                    table = pdTableSvr.render({
                        elem: '#grid',
                        url: url,
                        where: vm.filter,
                        cols: [[
                            { type: 'numbers', title: '序号', width: '5%' },
                            { field: 'XTBH', title: '系统编号', width: '15%', align: 'center' },
                            { field: 'XTMC', title: '系统名称' }, 
                            { field: 'XTDZ', title: '系统地址', width: '15%' },
                            { field: 'PXH', title: '排序号', width: "10%" },
                            {
                                field: 'SFYX', title: '状态', width: "15%", templet: function (record) {
                                    if (record.Enable == 1) {
                                        return '有效';
                                    } else {
                                        return '无效';
                                    }
                                }
                            },
                            { title: '操作', fixed: 'right', toolbar: '#eventBar' }
                        ]]
                    });

                    layui.table.on('tool(grid)', function (obj) {
                        var xh = obj.data.XH;
                        if (obj.event === 'detail') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '查看系统信息',
                                content: '@Url.Action("Detail")' + '/' + xh
                            });
                        } else if (obj.event === 'edit') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '修改系统信息',
                                content: winUrl + '/' + xh,
                                end: function () {
                                    reload();
                                }
                            });

                        } else if (obj.event === 'del') {
                            top.layer.confirm('确定删除么', function (index) {
                                pdResourceSvr.post(deleteUrl, { id: xh })
                                    .then(function (rsp) {
                                        if (rsp.Result) {
                                            obj.del();
                                            pdActionSvr.success('删除成功');
                                        } else {
                                            pdActionSvr.error('删除失败');
                                        }
                                    })
                                    .finally(function () {
                                        top.layer.close(index);
                                    })
                            });
                        }
                    });
                }

                vm.searchTable = function () {
                    table.reload({
                        where: vm.filter,
                        page: true
                    });
                }

                vm.add = function () {
                    vm.entity = { XH: '' };
                    top.layer.open({
                        type: 2,
                        area: $$.configs.winArea,
                        title: '新增系统信息',
                        content: winUrl,
                        end: function () {
                            reload();
                        }
                    });
                }

                function reload(){
                    table.reload()
                }

                vm.init();
            }]);
    </script>
    <script type="text/html" id="eventBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
}