@{
    var id = ViewContext.RouteData.Values["id"];
    int editFlag = ViewBag.editFlag;
}

<div  class="pd010 layui-form @(editFlag == 0 ? "pdb10" : "pdb55")" ng-controller="indexCtrl as vm" ng-cloak>
    <div class="grid-infor">
        <table @(editFlag == 0 ? "form-readonly" : "")>
            <tr>
                <td>
                    <span class="red">*</span>用户ID
                </td>
                <td>
                    <input type="text" name="YHID" ng-readonly="vm.isEdit" ng-model="vm.entity.YHID" lay-verType="tips" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td>
                    <span class="red">*</span>用户名称
                </td>
                <td>
                    <input type="text" name="YHMC" ng-model="vm.entity.YHMC" lay-verType="tips" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>用户密码
                </td>
                <td>
                    <input type="text" name="YHMM" ng-model="vm.entity.YHMM" lay-verType="tips" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td>
                    性别
                </td>
                <td>
                    <radio-list id="XB" jdata="[{id:'1',text:'男'},{id:'2',text:'女'}]" textField="text" valueField="id" ng-model="vm.entity.XB"></radio-list>
                </td>
            </tr>
            <tr>
                <td>
                    用户称谓
                </td>
                <td colspan="2">
                    <input type="text" name="YHCW" ng-model="vm.entity.YHCW" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td>
                    例如:王主任,刘队长
                </td>
            </tr>
            <tr>
                <td>
                    用户职务
                </td>
                <td>
                    <input type="text" name="YHZW" ng-model="vm.entity.YHZW" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    用户手机
                </td>
                <td>
                    <input type="text" name="YHSJ" ng-model="vm.entity.YHSJ" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="16">
                </td>
                <td>
                    办公电话
                </td>
                <td>
                    <input type="text" name="BGDH" ng-model="vm.entity.BGDH" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="16">
                </td>
            </tr>
            <tr>
                <td>
                    拼音简写
                </td>
                <td>
                    <input type="text" name="PYJX" ng-model="vm.entity.PYJX" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td>
                    <span class="red">*</span>部门
                </td>
                <td>
                    <dropdown-list id="BMBH" lay-verify="required" lay-verType="tips" url='@Url.Action("GetCombList","Department")' textField="text" valueField="id" ng-model="vm.entity.BMBH"></dropdown-list>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>是否有效
                </td>
                <td>
                    <radio-list id="SFYX" lay-verify="radio" lay-verType="tips" url="@(Url.Action("GetGgdmz","Tool",new { area="", DMJBH = "SFYX" }))" textField="text" valueField="id" ng-model="vm.entity.SFYX"></radio-list>
                </td>
                <td>
                    是否在岗
                </td>
                <td>
                    <radio-list id="SFZG" url="@(Url.Action("GetGgdmz","Tool",new { area="", DMJBH = "SFYX" }))" textField="text" valueField="id" ng-model="vm.entity.SFZG"></radio-list>
                </td>
            </tr>
            <tr>
                <td>
                    用户B角
                </td>
                <td>
                    <input type="text" name="YHBJ" ng-model="vm.entity.YHBJ" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td>
                    <font color="red">*</font>排序号
                </td>
                <td>
                    <input type="text" name="PXH" ng-model="vm.entity.PXH" lay-verType="tips" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="6">
                </td>
            </tr>
            <tr>
                <td>
                    内网邮箱
                </td>
                <td>
                    <input type="text" name="NWYX" ng-model="vm.entity.NWYX" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td>
                    内网邮箱密码
                </td>
                <td>
                    <input type="text" name="NWYXMM" ng-model="vm.entity.NWYXMM" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    外网邮箱
                </td>
                <td>
                    <input type="text" name="WWYX" ng-model="vm.entity.WWYX" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td>
                    外网邮箱密码
                </td>
                <td>
                    <input type="text" name="WWYXMM" ng-model="vm.entity.WWYXMM" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>组织编号
                </td>
                <td>
                    <input type="text" name="ORGID" ng-model="vm.entity.ORGID" lay-verType="tips" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
                <td colspan="2">
                    &nbsp;用户所属政区划的行政区划代码，例如:330600
                </td>
            </tr>
        </table>
    </div>
    @if (editFlag == 1)
    {
        <div class="foot-btnp">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-filter="form1" lay-submit>保存</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary" onclick="parent.layer.closeAll()">取消</button>
        </div>
    }
</div>

@section script{
    <script>
        var id = '@id';

        angular.module("app.rms")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", function ($scope, pdActionSvr, pdResourceSvr) {
                var addOrEditUrl = '@Url.Action("SaveUser")';

                var vm = this;
                vm.entity = { };
                vm.filter = { sortfield: 'xh', KEY: '' };

                vm.save = function () {
                    pdResourceSvr.post(addOrEditUrl, vm.entity)
                        .then(function (rsp) {
                            if (rsp.Result) {
                                pdActionSvr.success('保存成功', '提示');
                                vm.isEdit = true;
                            } else {
                                pdActionSvr.error(rsp.message || '保存失败');
                            }
                        });
                }

                vm.init = function () {
                    if (id) {
                        vm.isEdit = true;
                        pdResourceSvr.get('@Url.Action("GetUser")?id=' + id)
                            .then(function (rsp) {
                                vm.entity = rsp || {};
                            });
                    } else {
                        vm.entity.BMBH = '@Request["BMBH"]';
                    }
                }

                vm.init();

                //监听提交
                layui.form.on('submit(form1)', function (data) {
                    vm.save();
                });
            }]);
    </script>
}