@{
    ViewBag.Title = "用户列表";
}
<div class="layui-form pd010" ng-controller="indexCtrl as vm">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md2" style="padding-top:15px;">
            <input type="text" name="title" ng-change="vm.searchNode($event,this)" ng-model="vm.treeSearch" placeholder="部门名称" autocomplete="off" class="layui-input">
            <ul id="departmnetTree" class="ztree" style="overflow-y:auto;"></ul>
        </div>
        <div class="layui-col-md10">
            <div class="layui-row" lay-filter="form1">
                <div class="layui-form data-sethead">
                    <div class="layui-inline">
                        <input type="text" style="width:200px" placeholder="请输入用户名" class="layui-input" ng-model="vm.search.YHMC">
                    </div>
                    <button class="layui-btn layui-btn-sm layui-btn-green " ng-click="vm.searchTable()">搜索</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal" ng-click="vm.add()">新增</button>
                </div>
                <table id="grid" lay-filter="grid"></table>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        window.onload = window.onresize = function () {
            $('#departmnetTree').height($(window).height() - 62);
        }
        var url = "@Url.Action("GetUsers")";
        var treeUrl = "@(Url.Action("GetDepartmentDropDownList","Department"))";
        var userUrl = "@Url.Action("GetUser", "User")";

        angular.module("app.rms")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", "$rootScope", "pdTableSvr", function ($scope, pdActionSvr, pdResourceSvr, $rootScope, pdTableSvr) {
                var vm = this;
                vm.eventClick = function () {

                }

                vm.search = {
                    YHMC: "",
                    BMBH: null
                };

                vm.treeSearch = null, table = {};
                var allTreeNode = [];

                vm.searchUser = function () {
                    table = pdTableSvr.render({
                        elem: '#grid',
                        url: url,
                        where: vm.search,
                        cols: [[
                            { type: 'numbers', title: '序号', width: "5%" },
                            { field: 'YHID', title: '用户ID', width: "10%" },
                            { field: 'YHMC', title: '用户名', width: "15%"  },
                            { field: 'ZZQC', title: '部门名称', width: "20%"  },
                            {
                                field: 'XB', title: '性别', width: "10%", templet: function (record) {
                                    if (record.XB == 1) {
                                        return '男';
                                    } else if (record.XB == 2) {
                                        return '女';
                                    } else {
                                        return '';
                                    }
                                }
                             },
                            { field: 'PXH', title: '排序号', width: "8%" },
                            {
                                field: 'SFYX', title: '状态', width: "8%",templet: function (record) {
                                    if (record.SFYX == 1) {
                                        return '有效';
                                    } else {
                                        return '无效';
                                    }
                                }
                            },
                            { title: '操作', fixed: 'right',  align: 'center', toolbar: '#barDemo' }
                        ]]
                    });

                    layui.table.on('tool(grid)', function (obj) {
                        var xh = obj.data.YHID;
                        if (obj.event === 'detail') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '查看用户信息',
                                content: '@Url.Action("Detail")' + '/' + xh
                            });
                        } else if (obj.event === 'edit') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '修改用户信息',
                                content: '@Url.Action("AddOrEdit")' + '/' + xh,
                                end: function () {
                                    reload();
                                }
                            });

                        } else if (obj.event === 'role') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '用户角色',
                                content: '@Url.Action("UserRole","Role")' + '/' + xh,
                                end: function () {
                                    reload();
                                }
                            });
                        }
                        else if (obj.event === 'del') {
                            top.layer.confirm('确定删除么', function (index) {
                                pdResourceSvr.post('@Url.Action("DelUser")', { id: xh })
                                    .then(function (rsp) {
                                        if (rsp.Result) {
                                            obj.del();
                                            pdActionSvr.success('删除成功');
                                        } else {
                                            pdActionSvr.error('删除失败');
                                        }
                                    })
                                    .finally(function () {
                                        top.layer.close(index);
                                    })
                            });
                        }
                    });
                }

                vm.add = function () {
                    vm.entity = { XH: '' };
                    top.layer.open({
                        type: 2,
                        area: $$.configs.winArea,
                        title: '新增用户',
                        content: '@Url.Action("AddOrEdit")?BMBH=' + vm.search.BMBH,
                        end: function () {
                            reload();
                        }
                    });
                }

                vm.initDepartmentTree = function (data) {
                    isFirst = true;
                    var setting = {
                        //view: {
                        //    showIcon: false,
                        //    showLine: true
                        //},
                        async: {
                            enable: true,
                            url: treeUrl,
                            dataFilter: vm.filter
                        },
                        callback: {
                            onClick: function (event, treeId, treeNode) {
                                vm.search.BMBH = treeNode.id;
                                vm.searchUser(vm.search);
                            },
                            onAsyncSuccess: function (event, treeId, treeNode, msg) {
                                if (isFirst) {
                                    var node = treeObj.getNodes();
                                    if (node && node.length) {
                                        node = node[0];
                                        treeObj.selectNode(node);
                                        treeObj.setting.callback.onClick(null, node.id, node);
                                        isFirst = false;
                                    }
                                }
                            }
                        },
                        data: {
                            simpleData: {
                                enable: true,
                                idKey: "id",
                                pIdKey: "pId",
                                rootPId: null
                            }
                        }
                    };
                    treeObj = $.fn.zTree.init($("#departmnetTree"), setting);
                }

                vm.filter = function (treeId, parentNode, childNodes) {
                    if (!childNodes) return null;
                    for (var i = 0, l = childNodes.length; i < l; i++) {
                        childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
                    }
                    return childNodes;
                }

                var hiddenNodes = []; //用于存储被隐藏的结点
                vm.searchNode = function (e) {
                    var zTree = $.fn.zTree.getZTreeObj("departmnetTree");
                    if (!(vm.treeSearch == null || vm.treeSearch.length == 0)) {
                        //显示上次搜索后背隐藏的结点
                        zTree.showNodes(hiddenNodes);

                        //查找不符合条件的叶子节点
                        function filterFunc(node) {
                            var _keywords = vm.treeSearch;
                            if (node.isParent || node.name.indexOf(_keywords) != -1) return false;
                            return true;
                        };

                        //获取不符合条件的叶子结点
                        hiddenNodes = zTree.getNodesByFilter(filterFunc);

                        //隐藏不符合条件的叶子结点
                        zTree.hideNodes(hiddenNodes);
                    }
                }

                vm.searchTable = function () {
                    table.reload({
                        where: vm.search,
                        page: true
                    });
                }

                vm.init = function () {
                    vm.searchUser();
                    vm.initDepartmentTree();
                }

                reload = function () {
                    table.reload()
                }

                vm.init();
            }]); 
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-green layui-btn-xs" lay-event="role">角色授权</a>
    </script>
}
